body {
    padding: 0;
    margin: 0;
  }
  
  .App {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .app-header {
    text-align: center;
    background-color: #3b5998;
    color: white;
    width: 100%;
  }
  
  .app-container {
    margin-top: 50px;
  }
  
  .room {
    display: flex;
    flex-direction: column;
  }
  
  .room label {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .room input {
    width: 200px;
    height: 30px;
    border: 2px solid #3b5998;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
  }
  .room button {
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 32px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    background-color: #3b5998;
    color: white;
    cursor: pointer;
    
  }
  
  .sign-out {
    margin-top: 50px;
    
    
    
   
  }
  button{
    background-color: #3b5998; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-style: bold;
  }
  .room label{
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    width: 1000px;
    height: 30px;
    border: 2px solid #001a51;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
    font-style: bold;
    background-color: #3b5998;
    color: aliceblue;
    
  }
  